@page "/"

<PageTitle>Home</PageTitle>

<h1>Import Excel to Database</h1>

<p>Click the button below to choose an Excel file to enter into the database.</p>

<button class="btn btn-primary" @onclick="GoToUpload">Choose file to enter into database</button>

@code {
    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private void GoToUpload()
    {
        NavigationManager?.NavigateTo("/upload");
    }
}
